{% extends 'base.html' %} {% block content %}
<section class="page-section clearfix">
	<div class="container">
		<div class="intro">
			<img
				class="intro-img img-fluid mb-3 mb-lg-0 rounded"
				src="{{ url_for('static', filename='img/intro.jpg') }}"
				alt=""
			/>
			<div class="intro-text left-0 text-center bg-faded p-5 rounded">
				<h2 class="section-heading mb-4">
					<span class="section-heading-upper">Tailored Clothes</span>
					<span class="section-heading-lower">Worth investing in</span>
				</h2>
				<p class="mb-3">
					Every garment of mine is hand sewn by me, made by hand picked fabrics from one of my local second
					hand shops. Once you try one of my tailored pieces you will never want to return to store bought-
					this I promise you!
				</p>
				<div class="intro-button mx-auto">
					<a class="btn btn-primary btn-xl" href="{{ url_for('products') }}">Check out my clothes!</a>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="page-section cta">
	<div class="container">
		<div class="row">
			<div class="col-xl-9 mx-auto">
				<div class="cta-inner text-center rounded">
					<h2 class="section-heading mb-4">
						<span class="section-heading-upper">My Promise</span>
						<span class="section-heading-lower">To You</span>
					</h2>
					<p class="mb-0">
						There is really something special about the fashion style of the 1940’s-50’s: the beautiful
						celebration of femininity is really captured during this era with its Squared shoulders, narrow
						hips, and skirts that ended just below the knee. At Erica Johnsson we want to bring back all the
						wonderful and fun fashion aspects of this era without making you feel like you are playing dress
						up, while remaining ethically and environmentally conscious. I am dedicated to making every
						woman feel beautiful in my clothes, regardless of size or height. You deserve something that was
						tailored just for you!
					</p>
				</div>
			</div>
		</div>
	</div>
</section>
{% endblock %}